<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @status.post %>
  <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>



